.Trending {
  padding: 40px 0;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: clamp(15px, 5vw, 35px);
      }

      .switcher {
        width: clamp(200px, 8vw, 140px);
        height: clamp(27px, 8vw, 40px);
        background: white;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .button {
          width: 100px;
          height: clamp(27px, 8vw, 40px);
          border: none;
          border-radius: 50px;
          outline: none;
          font-weight: 600;
          background: transparent;
          color: black;
          transition: transform 0.9s ease-out, background 0.9s ease-out,
            color 0.9s ease-out; // Apply transition to transform, background, and color
          transform: translateX(10px);
          &.active {
            background: linear-gradient(
              110.07deg,
              rgb(181, 9, 189) 0.99%,
              rgb(218, 47, 104) 100%
            );
            color: white;
            transform: translateX(0);
          }
        }
      }
    }

    .bottom {
      .keenSlider {
        .slider {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 25px;
          img {
            width: 100%;
            height: clamp(160px, 25vw, 320px);
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            cursor: pointer;
          }

          .reting {
            position: absolute;
            bottom: clamp(30px, 8vw, 65px);
            left: clamp(13px, 1.25vw, 20px);
            background: white;
            border-radius: 50px;
            font-weight: 700;
            width: clamp(15px, 10vw, 50px);
          }

          .text {
            h2 {
              font-size: clamp(8px, 2vw, 18px);
              font-weight: 400;
            }

            p {
              color: rgb(195, 182, 182);
              font-size: clamp(8px, 2vw, 18px);
            }
          }
        }
      }
    }
  }
}
