.Welcome {
  position: relative;
  width: 100%;
  ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 300px;

    background: linear-gradient(
      180deg,
      rgba(4, 21, 45, 0),
      rgba(4, 21, 45, 0.172) 60%,
      rgba(4, 21, 45, 0.326) 100%
    );
  }
  .bgImage {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .loader {
    width: clamp(110px, 5vw, 140px);
    height: clamp(110px, 5vw, 140px);
    border: 5px solid #fff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.5;
    font-size: clamp(30px, 8vw, 80px);

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      border: 5px solid #fff;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: scaleUp 1s linear infinite;
    }
  }

  @keyframes scaleUp {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    60%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @keyframes pulse {
    0%,
    60%,
    100% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.2);
    }
  }

  .welcomeText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    z-index: 100;
    h1 {
      width: 80%;
      height: clamp(80px, 20vw, 220px);
      color: white;
      font-size: clamp(16px, 5vw, 90px);
      font-weight: 700;
      line-height: clamp(6px, 12vw, 90px);
      letter-spacing: 0%;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 5px #f0f, 0 0 10px #f0f, 0 0 20px #f0f, 0 0 40px #0ff,
        0 0 80px #0ff;
    }
    h4 {
      margin-top: 10px;
      color: rgb(255, 255, 255);
      font-size: clamp(9px, 2vw, 24px);
      font-weight: 500;
      line-height: clamp(8px, 4vw, 24px);
      letter-spacing: 0%;
      text-align: center;
    }
    .search_movie {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      input {
        outline: none;
        padding: 0 20px;
        color: black;
        font-size: clamp(12px, 3vw, 20px);
        width: clamp(210px, 66vw, 900px);
        height: clamp(10px, 8vw, 60px);
        left: 0;
        border: none;
        top: 264px;
        border-radius: 30px 0px 0px 30px;
        background: rgb(255, 255, 255);
      }
      button {
        width: clamp(70px, 27vw, 150px);
        height: clamp(10px, 8vw, 60px);

        border: none;
        color: white;
        margin-left: -5px;
        font-size: clamp(12px, 3vw, 20px);

        left: 850px;
        top: 265px;
        border-radius: 0px 30px 30px 0px;
        background: linear-gradient(
          110.07deg,
          rgb(181, 9, 189) 0.99%,
          rgb(218, 47, 104) 100%
        );
      }
    }
  }
}
