.Actors {
  padding-bottom: 30px;
  .content {
    h1 {
      margin: 15px 0;
      font-size: clamp(10px, 5vw, 25px);
    }
    .keenSlider {
      .cast {
        width: clamp(80px, 12vw, 200px);
        height: clamp(80px, 12vw, 200px);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
      h2 {
        font-size: clamp(5px, 3vw, 19px);
      }
    }
  }
}
