.Videos {
  padding-bottom: 40px;
  .content {
    h1 {
      margin: 15px 0;
      // text-align: center;
    }

    .keenSlider {
      display: flex;
      gap: 30px;
      .videoItem {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 0 10px;
        width: 250px;

        img {
          width: 100%;
          height: auto;
        }
        .span {
          height: 140px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          &:hover {
            background: rgba(0, 0, 0, 0.451);
            transition: 0.4s;
            span {
              color: #da2f68;
              transition: 0.4s;
            }
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 45px;
          }
        }
      }
    }
    .modalVideo {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      inset: 0;
      z-index: 99;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.54);
      backdrop-filter: blur(4px);
      .videoPlayer {
        width: clamp(370px, 65vw, 700px);
        height: clamp(220px, 48vw, 400px);
        iframe {
          border-radius: 10px;
        }
      }
    }
  }
}
