.Videos {
  padding-bottom: 50px;
  .content {
    h1 {
      margin: 15px 0;
      font-size: clamp(10px, 5vw, 25px);
    }

    .keenSlider {
      display: flex;
      gap: clamp(20px, 7vw, 30px);
      .videoItem {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 10px;
        margin: 0 10px;
        width: clamp(90px, 15vw, 250px);

        img {
          width: 100%;
          height: auto;
        }
        .span {
          height: clamp(55px, 7.5vw, 120px);
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;

          &:hover {
            background: rgba(0, 0, 0, 0.451);
            height: clamp(50px, 7.5vw, 150px);
            transition: 0.4s;

            span {
              color: #da2f68;
              transition: 0.4s;
            }
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: clamp(25px, 2.8vw, 45px);
          }
        }
      }
      h5 {
        font-size: clamp(5px, 2vw, 13px);
        margin-left: 7px;
      }
    }
    .modalVideo {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      inset: 0;
      z-index: 99;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.54);
      backdrop-filter: blur(4px);
      .videoPlayer {
        width: clamp(280px, 43vw, 700px);
        height: clamp(130px, 48vw, 400px);
        iframe {
          border-radius: 10px;
        }
      }
    }
  }
}
