.Header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.33);
  backdrop-filter: blur(4px);
  width: 100%;
  padding: 15px 0;
  z-index: 999;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      .logo {
        background: linear-gradient(
          -30.65deg,
          rgb(182, 24, 186),
          rgb(215, 43, 110)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // background-clip: text;
        // text-fill-color: transparent;
        font-family: Permanent Marker;
        font-size: clamp(12px, 3vw, 25px);
        font-weight: 400;
        text-align: left;
      }
    }
    .right {
      .nav {
        ul {
          display: flex;
          align-items: center;
          gap: 25px;
          li {
            list-style: none;
            .link {
              color: rgb(255, 255, 255);
              font-size: 16px;
              font-weight: 500;
              line-height: 16px;
              letter-spacing: 0%;
              transition: 0.2s;
            }
            .active {
              color: #9336fd;
            }
          }
          .authButtonLogOut {
            font-size: 25px;
            background: transparent;
            border: none;
            color: white;
            cursor: pointer;
          }
          .authButtonLogIn {
            font-size: 25px;
            background: transparent;
            border: none;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
