.TVShows {
  padding: 70px 0;
  .content {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .TVShows {
        width: 270px;
      }
    }
  }
}
